<ion-header>
  <ion-toolbar>
    <ion-title color="dark"><b> SELECT COUNTRY</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor ="let country of countrylist" >{{country.country}} <ion-button size ="default" color="primary" (click)='onclick(country.country)'>getdata</ion-button> </ion-item>
    <!--
    <ion-item>
      <ion-button size ="default" color="primary" (click)='onclick(country_india)'>India</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size ="default" color="primary" (click)='onclick(country_us)'>United States</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary" >Australia</ion-button>
    </ion-item> 
    <ion-item>
      <ion-button size="default" color="primary">Paris</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Califonia</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Singapore</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Japan</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Canada</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Seoul</ion-button>
    </ion-item>
  -->
  </ion-list>

 
</ion-content>

