<ion-header>
  <ion-toolbar>
    <ion-title color="dark"><b> SELECT COUNTRY</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button size ="default" color="primary">India</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size ="default" color="primary">United States</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Australia</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Paris</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Califonia</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Singapore</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Japan</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Canada</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="primary">Seoul</ion-button>
    </ion-item>
  </ion-list>

 
</ion-content>

