<ion-header >
  <ion-toolbar style="color:mediumslateblue">
    <ion-back-button slot ="start" defaultHref="countries"></ion-back-button>
    <ion-title  >{{country}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngIf="dataloading">
    <ion-label>Loading data</ion-label>
  </div>
  <div *ngIf="!dataloading"> 
    <ion-item ><ion-fab><ion-fab-button size= 'default' color="danger"><strong>value:{{aqi.aqi}} </strong></ion-fab-button></ion-fab>
       
    </ion-item>
 
  
  </div>
</ion-content>

