<ion-header >
  <ion-toolbar >
    <ion-title style="text-align: center; " > LOGIN </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content >

  <form  #form="ngForm" (ngSubmit)="login()"  >
    <div padding> 
    <ion-item style="text-align: center; ">
      <ion-label position="floating">Username</ion-label>
      <ion-input position="floating" name="userid" [(ngModel)]="userid" type="text" placeholder="Enter User ID" ngModel required></ion-input>
    </ion-item>
    <ion-item style="text-align: center; ">
      <ion-label position="floating">Password</ion-label>
      <ion-input position="floating" name="password" [(ngModel)]="password" type="password" placeholder="Enter Password" ngModel required></ion-input>
    </ion-item>
      <ion-button  slot="end" size="small" type="submit"  expand="block">Login</ion-button>
    
  </div>
    <div *ngIf="error" class="error" padding >
      {{error}}
    </div>
  </form>
</ion-content>                                                                                                                                        
